body {
  width: 250px;
  height: 250px;
  background-color: rgb(122, 133, 122);
}

h1 {
  text-align: center;
  color: rgb(159, 223, 106);
  font-size: 25px;
}

#jokeElement {
  height: 70%;
  color: rgb(132, 224, 192);
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin: 5px auto;
  background-color: rgb(110, 120, 110);
  border-radius: 5px;
  padding: 10px;
  overflow: scroll;
  scrollbar-width: none;
  
  /*border: 1px solid black;*/
}

.btn{
  position: relative;
  /*left: 2px;*/
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #989797;
  }

  h1 {
    color: rgb(204, 217, 228);
  }

  #jokeElement {
    background-color: rgb(96, 120, 122);
    color: rgb(48, 54, 58);
  }
}